.canvas-container {
  position: relative;
  width: 100%;
  flex: 1;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
}

canvas {
  position: absolute;
  border: 1px solid black;
}

#background {
  z-index: 2;
}
